<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
      <div class="form-group">
          <label for="number"> Número de post que crear</label>
          <input type="number" id="number" name="amount" class="form-control">
      </div>
        <button type="submit" class="btn btn-default">Crear</button>
    </form>
</div>