<h1>Generar Posts</h1>
<div class="row">
    <form action="/admin/generate-fake-posts" method="post">
      <div class="form-group">
          <label for="number"> Número de post que generar</label>
          <input type="number" id="number" name="amount" class="form-control">
      </div>
        <button type="submit" class="btn btn-dark">Generar</button>
    </form>
</div>