<div class="row">
    <!-- Entradas blog -->
    <div class="col-md-8">
        <h1 class="my-4">Blog </h1>


        <!-- Post del blog-->
        {{> home/posts}}

    </div>
    <!-- Barra lateral-->
    <div class="col-md-4">
        <!-- Categorías -->
        <div class="card my-4">
            <h5 class="card-header"> Categorías</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Categoría 1</a>
                            </li>
                            <li>
                                <a href="#">Categoría 2</a>
                            </li>
                            <li>
                                <a href="#">Categoría 3</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#">Categoría 4</a>
                            </li>
                            <li>
                                <a href="#">Categoría 5</a>
                            </li>
                            <li>
                                <a href="#">Categoría 6</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>