<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ágora</title>

    <link href="/css/blog-home.css" rel="stylesheet">
    <link href="/css/blog-post.css" rel="stylesheet">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {{> home/home-nav}}
<!-- Contenido -->
<div class="container">
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {{/each}}
    {{/if}}
    {{> home/form-msgs}}
    {{{body}}}

</div>

<!-- Footer -->
    {{> home/home-footer}}

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
