<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Home </title>

    <link href="css/blog-home.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {{> home/home-nav}}
<!-- Contenido -->
<div class="container">
    <!-- Row -->

    {{{body}}}

</div>

<!-- Footer -->
    {{> home/home-footer}}

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>
