<div class="row">
    <!-- Entradas blog -->
    <div class="col-md-8">
        <h1 class="my-4">Ágora </h1>


        <!-- Post del blog-->
        {{> home/posts}}

    </div>
    <!-- Barra lateral-->
    <div class="col-md-4">
        <!-- Categorías -->
        {{> home/sidebar}}
    </div>
</div>